version: '3.8'
services:
  mysql-db:
    image: mysql:8.0
    container_name: mysql-container
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: usedcar
      MYSQL_ROOT_PASSWORD: Root
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  app:
    build: .
    container_name: java-app-container
    ports:
      - "8080:8080"
    depends_on:
      mysql-db:
        condition: service_healthy
    environment:
      # We point the app to the SERVICE NAME 'mysql-db', not 'localhost'
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-db:3306/usedcar?allowPublicKeyRetrieval=true&useSSL=false
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: Root